.imagem{
    width: 300px;
    border-radius: 1rem;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 30rem;
    margin-right: 30rem;

}

.desc{
    margin-top: 5%;
    font-size: 1.1rem;
    color:antiquewhite
}

.imagem{
    width: 300px;
    border-radius: 1rem;
}

